.notifications-container {
  background-color: var(--clr-bg);
  padding: 20px;
  border-radius: 15px;
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid #F1E9F7;
}

.notifications-title {
  color: #4A5568;
  font-size: 18px;
  margin: 0 0 20px 0;
  font-weight: 500;
}

.notifications-list {
  display: flex;
  flex-direction: column;
} 