.days-container {
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0;
    overflow-x: auto;
  }
  
  .day-box {
    flex: 1 1 10%;
    min-width: 8rem;
    max-width: 9.8rem; 
    height: 6.5rem; 
    border: 0.0625rem solid var(--clr-primary-100);
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 0.9rem;
    color: var(--clr-primary-100);
    display: flex;
    align-items: flex-start;
    user-select: none;
    cursor: default;
    background-color: var(--clr-bg);

    gap: 0.5rem;
    flex-direction: column;
}

.day-title {
  align-self: flex-end;
}


.day-title-container {
  margin-bottom: 0.5rem;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem 0.5rem; /* espacio entre filas y columnas */
}



.days-container::-webkit-scrollbar {
  height: 8px;
}

.days-container::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.days-container::-webkit-scrollbar-thumb {
  background-color: #adadad; 
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

.days-container::-webkit-scrollbar-thumb:hover {
  background-color: #848484;
}

.item-box {
  background-color: rgb(160, 174, 230);
  color: white;
  padding: 0.1rem 0.5rem;
  border-radius: 12px;
  font-size: 0.85rem;
  box-sizing: border-box;
  width: 100%;
}
