@use '../helpers/variables' as *;
/* default theme (root) */
:root{
  /* palette */
  --clr-primary-100:#{$primary-100};
  --clr-primary-200:#{$primary-200};
  --clr-primary-300:#{$primary-300};
  --clr-primary-400:#{$primary-400};
  --clr-primary-500:#{$primary-500};

  /* NEUTRALS */
  --clr-grey-050:  #{$grey-050};
  --clr-grey-100:  #{$grey-100};
  --clr-grey-200:  #{$grey-200};
  /* NEUTRALS */

  /* DANGER */
  --clr-danger-500: #{$danger-500};
  --clr-danger-050: #{$danger-050};
  /* DANGER */

  --clr-bg:        #{$white};
  --clr-surface:   #{$grey-050};
  --clr-text:      #{$text-color};
  --clr-shadow:    #{rgba($grey-200, 0.5)};

  --radius-md:     #{$radius-md};
}
