.time-switcher {
  display: flex;
  background-color: var(--clr-primary-500);
  border-radius: var(--radius-md);
  padding: 0.25rem;
}

.switch-container {
  display: flex;
  background: var(--clr-surface);
  border-radius: calc(var(--radius-md) - 0.25rem);
  overflow: hidden;
}

.switch-option {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  background: transparent;
  color: var(--clr-primary-500);
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    background: var(--clr-primary-100);
    color: var(--clr-bg);
  }

  &.active {
    background: var(--clr-primary-100);
    color: var(--clr-bg);
    font-weight: 700;
  }
}
