
.info-list {
  list-style: none;
  margin: 0;
}

.info-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4em;

  .column {
    flex: 1 1 30%; 
  }
}
.item-container{
  display: flex;
  gap: 0.5em;
  .subtitle{
    font-weight: 550;
  }
 
}
.info-list-type1 {
  color: black;
  font-size: 0.95em;
  font-weight: 410;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    line-height: 1.2; 
  }
}

.info-list-type2 {
  font-weight: 410;
  color: #000000;
  font-size: 0.95em;
  .list-items {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  .list-item {
    margin-bottom: 0.5em;
  }
}

.info-list-subtitle {
  font-size: 1.1em;
  margin-bottom: 0.5em;
  color: #6DA0E1;
  font-weight: 700;
}



.statistics-items{
  display: flex;
  gap: 0; 
  flex-direction: column;
}

.list-stadistics {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
  .stadistic {
    font-size: 1.8em;
    font-weight: 730;
    color: #6DA0E1;
  }
  .percentage {
    font-size: 1.1em;
    font-weight: 630;
    color: #6DA0E1;
  }
  .description {
    font-size: 1em;
    color: #6DA0E1;
  }
} 