.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
 
.modal-content {
  background: white;
  padding: 2rem 3rem;
  width: auto;
  max-width: 90vw;
  min-width: 45em;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
  box-sizing: border-box;

  transition: width 0.3s ease;
}

.modal-secondary {
  margin-left: 20px;
  width: 300px;
  height: 300px;
  max-height: 90vh;
  overflow-y: auto;
  border: 2px solid #498fe0;
}

.subview-general,
.subview-detallada {
  max-width: 70em;
  width: 100%;
  box-sizing: border-box;
}

.modal-wide {
  width: 55em;
}

.modal-content:not(.modal-wide) {
  width: 46em; /* ancho base */
}


.modal-title {
  font-size: 1.2rem;
  color: var(--clr-primary-400);
  font-weight: 700;
  margin-bottom: 1rem;
}

.tabs {
  display: flex;
  width: 100%;
  margin-bottom: 1.9rem;
  font-size: 0.9em;

  .tab {
    flex: 1;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    padding: 0.5rem 0;
    border-bottom: 3.5px solid transparent;
    color: var(--clr-grey-200);

    border-bottom: 3.5px solid var(--clr-grey-200);

    &.active {
      color: var(--clr-primary-200);
      border-bottom: 3.5px solid var(--clr-primary-200);
    }
    &.disabled {
    }
  }
}

.form-section {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 4.5rem;
  row-gap: 1rem;
  align-items: center;
  max-width: 100%;

  input {
    border-radius: 11px;
    border: 1px solid var(--clr-grey-200);
    padding: 0.5em 0.9em;
    color: var(--clr-text-color);
    font-family: var(--font-family-base);
    &:focus {
      outline: none;
      box-shadow: 0 0 4px var(--clr-primary-300);
      background-color: #fff;
    }
  }
}

.form-section label {
  font-weight: 500;
  font-size: 0.9em;
  justify-self: start;
  color: var(--clr-primary-500);
}


.form-control {
  width: 100%;
  padding: 0.4rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.input-with-unit {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.input-with-unit input {
  width: 50%;
}

.unit {
  font-size: 0.9rem;
  color: #555;
  white-space: nowrap;
}



.form-actions {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  
  .btn-cancel {
    font-family: var(--font-family-base);
    width: 50%;
    background: var(--clr-bg);
    color: var(--clr-danger-500);
    border: 1px solid var(--clr-danger-500);
    border-radius: 12em;
    padding: 0.5rem 2rem;
    cursor: pointer;
  }

  .btn-continue {
    font-family: var(--font-family-base);
    width: 50%;
    background:  var(--clr-primary-400);
    color: white;
    border: none;
    border-radius: 12em;
    padding: 0.5rem 2rem;
    cursor: pointer;
  }
}
