<div class="modal-overlay" (click)="onClose()">
  <div   class="modal-content"
  [ngClass]="{'modal-wide': activeTab === 2}"
  (click)="$event.stopPropagation()" (click)="closeProductionLinePanel()" (click)="resetPanelState()">

    <h2 class="modal-title">Nuevo Plan de Mantenimiento Estático</h2>

    <div class="tabs">
      <div class="tab" [class.active]="activeTab === 1" (click)="activeTab = 1">Información General</div>
      <div class="tab" [class.active]="activeTab === 2" (click)="activeTab = 2">Información Detallada</div>
    </div>

    <div *ngIf="activeTab === 1" >
       <!-- Formulario -->
    <div class="form-section">
      <label for="planName">Nombre</label>
      <input id="planName" class="form-control" type="text" [(ngModel)]="formData.planName" />

      <label for="productionLineInput">Línea de Producción</label>
      <input #productionLineInputRef id="productionLineInput" class="form-control" type="text" readonly placeholder="Selecciona una línea..." (click)="showBallOverlay()"  [value]="selectedProductionLineName"
      />

      <ng-template #ballTemplate>
        <div class="trigger-ball"></div>
      </ng-template>

      <label for="startDate">Fecha Inicio <span class="required">*</span></label>
      <input id="startDate" class="form-control" type="date" [(ngModel)]="formData.startDate" />
      <div class="error-message" *ngIf="submitted && (!formData.startDate || formData.startDate === '')">
        La fecha de inicio es obligatoria.
      </div>
    
      <label for="durationDays">Duración</label>
      <div class="input-with-unit">
        <input id="durationDays" class="form-control" type="number" min="1" [(ngModel)]="formData.durationDays" />
        <span class="unit">días</span>
      </div>
    
      <label for="repeatWeeks">Repetir cada</label>
      <div class="input-with-unit">
        <input id="repeatWeeks" class="form-control" type="number" min="1" [(ngModel)]="formData.repeatCycle"/>
        <span class="unit">semanas</span>
      </div>
      
    </div>

    </div>

    <div *ngIf="activeTab === 2">
      

        <app-plan-item-board 
          [items]="formData.items" 
          [durationDays]="formData.durationDays"
          (itemMoved)="onItemMoved($event)">
        </app-plan-item-board>
        

      
      
      <div class="center-button">
        <button class="btn-add-item" (click)="onOpenItemCreator()">
          <span class="material-icons">add</span> Agregar Elemento
        </button>

        
      </div>      

      <div class="center-button">
      <app-plan-item-creator
        *ngIf="showItemCreator"
        [itemNameDefault]="'Item ' + (formData.items.length + 1)"
        [maxDays]="formData.durationDays"
        [productionLineId]="formData.productionLineId"
        (saveItem)="onAddElement($event); showItemCreator = false"
        (cancel)="showItemCreator = false">
      </app-plan-item-creator>

      
      </div>
      

    </div>

    <!-- Botones comunes -->
    <div class="form-actions">
      <button class="btn-cancel" (click)="onClose()">Cancelar</button>
      <button class="btn-continue" (click)="onContinue()">Continuar</button>
    </div>
  </div>

<div
  *ngIf="isEditingProductionLine"

  [ngClass]="{
    'animate-expand': hasAnimatedPanel,
    'expanded-panel': panelExpanded
  }"
  class="production-line-edit-text"
  (click)="$event.stopPropagation()"
>
  <div *ngIf="panelExpanded">

    <div class="search-container">
      <span class="material-icons search-icon">search</span>
      <input
          type="text"
          placeholder="Buscar"
          class="search-input"
          (input)="onSearchChange($event)"
        />

    </div>

    <div class="lines-list">
      <div
        class="line-item"
        *ngFor="let line of filteredLines; let i = index"
        [class.alt]="i % 2 === 0"
        (click)="selectLine(line)"
      >
        {{ line.name }}
      </div>
    </div>
  </div>
</div>


</div>
