:host {
  .mat-button-toggle-group {
    &.language-switcher {
      border-radius: 16px;
    }
  }
  
  ::ng-deep {
    .mat-button-toggle-label-content {
      line-height: normal !important;
      padding: 4px 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .mat-button-toggle {
      &.mat-button-toggle-checked {
        background-color: var(--clr-primary-400);
        color: white;
      }
    }
  }
}
