.information-panel {
  padding: 2.3em 2.1em;
  border: 2px solid #F1E9F7;
  border-radius: 8px;
  background-color:var(--clr-bg);
}

.header {
  margin-bottom: 15px;
}

.rectangular-box {
  background-color: #498fe0;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

h3 {
  color: #ff6f61;
  font-size: 18px;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  gap:1.5em;
}
